@import url('https://fonts.googleapis.com/css?family=Lato|Work+Sans:400,700');

// Write your custom style. Feel free to split your code to several files
body {
  font-family: 'Lato', sans-serif;
  background-color: #FFFFFF;
  font-size: 1.2rem;
}

h1 {
  font-family: 'Work Sans', sans-serif;
}

.bg-blue {
  background-color: #F8FBFF;
}

.btn-glass.btn-light {
  background-color: rgba(248,249,250,0.6);
  border-color: transparent;
  color: #fff;
}

.btn {
  padding: 12px 26px 10px;
}

.btn-light {
  background-color: #E0E9FF;
  border-color: #E0E9FF;
  color: #0A47FF;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 1.33em;
  &.active {
    background-color: #0A47FF !important;
    border-color: #0A47FF !important;
    color: #FFFFFF !important;
  }
  &:hover {
    background-color: #0A47FF;
    border-color: #0A47FF;
    color: #FFFFFF;
  }
}

.btn-round {
  border-radius: 5px;
}

.header {
  background: url(../img/bg/background.png) 0 0 no-repeat;
}

.h-fullscreen, .h-100vh {
    height: 100vh !important;
}

.nav-navbar .nav-link.active {
  border-bottom: 2px solid rgba(10,71,255,0.6);
}

.partner-sm img {
  height: 40px;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text-primary {
  color: #818181 !important;
}

.video-section {
  .video-expert {
    position: absolute;
    left: 0;
  }
}

.full-width {
  width: 100%;
}
