$icomoon-font-path: '../fonts' !default;

$icon-arrow-back: '\e5c4';
$icon-box: '\ea84';
$icon-cancel: '\ed6a';
$icon-check: '\e5ca';
$icon-cloud-download: '\ec7a';
$icon-cpu: '\ea1a';
$icon-delete: '\e872';
$icon-deploy: '\e902';
$icon-digitalocean: '\e903';
$icon-edit: '\e254';
$icon-ghost: '\e904';
$icon-github: '\ef0f';
$icon-go: '\e900';
$icon-home: '\e95f';
$icon-html-plain: '\ef43';
$icon-memory-ram: '\e322';
$icon-mysql: '\eb60';
$icon-nginx: '\e615';
$icon-person-add: '\e7fe';
$icon-person: '\e7fd';
$icon-project: '\ec1b';
$icon-push: '\ea36';
$icon-python: '\e901';
$icon-react: '\e601';
$icon-save: '\ec87';
$icon-timer: '\e425';
$icon-trigger: '\ec2b';
$icon-warning: '\e002';
$icon-yii: '\ec02';

@font-face {
  // sass-lint:disable-block no-duplicate-properties
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src:  url('#{$icomoon-font-path}/icomoon.eot');
  src:  url('#{$icomoon-font-path}/icomoon.eot#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/icomoon.ttf') format('truetype'),
  url('#{$icomoon-font-path}/icomoon.woff') format('woff'),
  url('#{$icomoon-font-path}/icomoon.svg#icomoon') format('svg');
}

input {
  // sass-lint:disable-block no-important
  box-shadow: none !important;
}

.icon {
  font-family: 'icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-arrow-back {
  &::before {
    content: $icon-arrow-back;
	}
}

.icon-box {
  &::before {
    content: $icon-box;
	}
}

.icon-cancel {
  &::before {
    content: $icon-cancel;
  }
}

.icon-check {
  &::before {
    content: $icon-check;
	}
}

.icon-cloud-download {
  &::before {
    content: $icon-cloud-download;
	}
}

.icon-cpu {
  &::before {
    content: $icon-cpu;
	}
}

.icon-delete {
  &::before {
    content: $icon-delete;
	}
}

.icon-deploy {
  &::before {
    content: $icon-deploy;
	}
}

.icon-digitalocean {
  &::before {
    content: $icon-digitalocean;
	}
}

.icon-edit {
  &::before {
    content: $icon-edit;
	}
}

.icon-ghost {
  &::before {
    content: $icon-ghost;
	}
}

.icon-github {
  &::before {
    content: $icon-github;
	}
}

.icon-go {
  &::before {
    content: $icon-go;
	}
}

.icon-home {
  &::before {
    content: $icon-home;
	}
}

.icon-html-plain {
  &::before {
    content: $icon-html-plain;
	}
}

.icon-memory-ram {
  &::before {
    content: $icon-memory-ram;
	}
}

.icon-mysql {
  &::before {
    content: $icon-mysql;
  }
}

.icon-nginx {
  &::before {
    content: $icon-nginx;
  }
}

.icon-person {
  &::before {
    content: $icon-person;
	}
}

.icon-person-add {
  &::before {
    content: $icon-person-add;
	}
}

.icon-project {
  &::before {
    content: $icon-project;
	}
}

.icon-push {
  &::before {
    content: $icon-push;
	}
}

.icon-python {
  &::before {
    content: $icon-python;
	}
}

.icon-react {
  &::before {
    content: $icon-react;
	}
}

.icon-save {
  &::before {
    content: $icon-save;
  }
}

.icon-timer {
  &::before {
    content: $icon-timer;
	}
}

.icon-trigger {
  &::before {
    content: $icon-trigger;
	}
}

.icon-warning {
  &::before {
    content: $icon-warning;
	}
}

.icon-yii {
  &::before {
    content: $icon-yii;
	}
}


.container {
  padding: 2em 0;
}

.card {
  padding: 1em;

  &[class='card'] > div {
    padding: 1em;
  }

  form {
    padding-bottom: 1em;

    .btn-login {
      margin-top: 2em;
    }
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.one-click-app {
  margin-bottom: 1em;
}

html {
  font-size: 16px;
}

body {
  background: #2c3e50;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

* {
  box-sizing: inherit;
  &:before, &:after {
    box-sizing: inherit;
  }
}

a {
  color: white;
  text-decoration: none;
}

.oval-menu-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30rem;
  height: 30rem;
  margin-top: -15rem;
  margin-left: -15rem;
}

.menu {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 0.08s ease-in-out;
  transition: all 0.08s ease-in-out;
  li {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 4rem;
    height: 80%;
    margin-top: -12rem;
    margin-left: -2rem;
    text-align: center;
    &.spin {
      z-index: 5;
      .icon-holder {
        -webkit-animation: spin 0.7s linear forwards;
        animation: spin 0.7s linear forwards;
      }
      .circle-holder {
        display: block;
        circle {
          -webkit-animation: dash 0.7s linear forwards;
          animation: dash 0.7s linear forwards;
        }
      }
    }
  }
  a {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin-top: 4.5rem;
    padding: 1rem;
    border-radius: 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    i {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.2;
    }
  }
  &.open {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.icon-holder {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 4rem;
  height: 100%;
}

.circle-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  display: none;
  width: 24rem;
  height: 24rem;
  margin: -12rem;
  padding: 1rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  circle {
    width: 100%;
    height: 100%;
    stroke-width: 4rem;
    stroke-dasharray: 560;
    stroke-dashoffset: 560;
    stroke-linecap: round;
  }
}

.menu-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: block;
  width: 4rem;
  height: 4rem;
  margin: -2rem;
  padding: 1.3rem;
  background: white;
  border: none;
  box-shadow: none;
  border-radius: 100%;
  text-align: center;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  font-size: 0;
  i {
    position: relative;
    z-index: 11;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 0.1rem;
    margin: 0 auto;
    background: #2c3e50;
    &:nth-child(2) {
      margin: 0.34rem auto;
    }
  }
}

.clicked {
  &.menu-btn {
    -webkit-animation: buttonactive ease-in 0.2s forwards 1;
    animation: buttonactive ease-in 0.2s forwards 1;
    i {
      &:first-child {
        -webkit-animation: top-down ease-in 0.2s forwards 1;
        animation: top-down ease-in 0.2s forwards 1;
      }
      &:nth-child(2) {
        -webkit-animation: middle ease-in 0.01s forwards 1;
        animation: middle ease-in 0.01s forwards 1;
      }
      &:nth-child(3) {
        -webkit-animation: down-top ease-in 0.2s forwards 1;
        animation: down-top ease-in 0.2s forwards 1;
      }
    }
  }
  .ripple {
    -webkit-animation: ripples ease-in 0.35s forwards 1;
    animation: ripples ease-in 0.35s forwards 1;
  }
}

.ripple {
  position: absolute;
  top: -1rem;
  left: -1rem;
  z-index: 10;
  display: block;
  width: 6rem;
  height: 6rem;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
  border: 2rem solid white;
  border-radius: 100%;
}

.menu li:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  a {
    -webkit-transform: rotate(-0deg);
    transform: rotate(-0deg);
    background: #2980b9;
  }
  circle {
    stroke: #2980b9;
  }
}

.bg-0 {
  background: #2980b9;
}

.menu li:nth-child(2) {
  -webkit-transform: rotate(71.5deg);
  transform: rotate(71.5deg);
  a {
    -webkit-transform: rotate(-71.5deg);
    transform: rotate(-71.5deg);
    background: #c0392b;
  }
  circle {
    stroke: #c0392b;
  }
}

.bg-1 {
  background: #c0392b;
}

.menu li:nth-child(3) {
  -webkit-transform: rotate(143deg);
  transform: rotate(143deg);
  a {
    -webkit-transform: rotate(-143deg);
    transform: rotate(-143deg);
    background: #1abc9c;
  }
  circle {
    stroke: #1abc9c;
  }
}

.bg-2 {
  background: #1abc9c;
}

.menu li:nth-child(4) {
  -webkit-transform: rotate(214.5deg);
  transform: rotate(214.5deg);
  a {
    -webkit-transform: rotate(-214.5deg);
    transform: rotate(-214.5deg);
    background: #f39c12;
  }
  circle {
    stroke: #f39c12;
  }
}

.bg-3 {
  background: #f39c12;
}

.menu li:nth-child(5) {
  -webkit-transform: rotate(286deg);
  transform: rotate(286deg);
  a {
    -webkit-transform: rotate(-286deg);
    transform: rotate(-286deg);
    background: #8e44ad;
  }
  circle {
    stroke: #8e44ad;
  }
}

.bg-4 {
  background: #8e44ad;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
}


@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 560;
    stroke-width: 4rem;
  }

  80% {
    stroke-dashoffset: 0;
    stroke-width: 4rem;
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-width: 6rem;
    opacity: 0;
  }
}


@keyframes dash {
  0% {
    stroke-dashoffset: 560;
    stroke-width: 4rem;
  }

  80% {
    stroke-dashoffset: 0;
    stroke-width: 4rem;
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-width: 6rem;
    opacity: 0;
  }
}


@-webkit-keyframes buttonactive {
  0% {
    background: white;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    background: #4f6f8f;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}


@keyframes buttonactive {
  0% {
    background: white;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    background: #4f6f8f;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}


@-webkit-keyframes middle {
  0% {
    opacity: 1;
    left: 0;
  }

  100% {
    opacity: 0;
    left: -4rem;
  }
}


@keyframes middle {
  0% {
    opacity: 1;
    left: 0;
  }

  100% {
    opacity: 0;
    left: -4rem;
  }
}


@-webkit-keyframes top-down {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    top: 0.35rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}


@keyframes top-down {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    top: 0.35rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}


@-webkit-keyframes down-top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    top: -0.4rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}


@keyframes down-top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    top: -0.4rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}


@-webkit-keyframes ripples {
  0% {
    opacity: 1.0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-width: 3rem;
  }

  100% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
    border-width: 0rem;
  }
}


@keyframes ripples {
  0% {
    opacity: 1.0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-width: 3rem;
  }

  100% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
    border-width: 0rem;
  }
}


@-webkit-keyframes bouncein {
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


@keyframes bouncein {
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
